<form action="/get_triangle">
    <input name="a" id="a" placeholder="1st Side">
    <input name="b" id="b" placeholder="2nd Side">
    <input name="c" id="c" placeholder="3rd Side">
    <button type="submit">Click if you Dare!!</button>
</form>

Behold what you entered is <%= @triangle %> 