<!DOCTYPE html>
<html>
 <head>
   <title>Ill-uhhm-ina-tee</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 </head>
 <body>
   <div class="container-fluid">
     <%= yield %>
   </div>
 </body>
</html>